.consent__consent-mail-checkbox {
  display: inline-block;

  width: 16px;
  height: 15px;

  border: 2px solid #212121;

  border-radius: 4px;
  margin-right: 7px;

  transition: border-color
  var(--transition-timing-function),
  background-color var(--transition-timing-function);

  background-image: url(../img/check.svg);

  background-repeat:no-repeat;

  background-size: cover;

}

.consent__checkbox:checked + .consent__consent-mail-checkbox {
  border-color: transparent;

  background-color: var(--accent-color);

  background-size: contain;
  background-origin: border-box;

}

.consent__checkbox:hover + .consent__consent-mail-checkbox {

  border: 2px solid var(--accent-color);
}



.backdrop.is-hidden > .modal {
  transform: translate(-50%, -50%) scale(1.1);
}


.register-position{
  position: absolute;

  width: 100%;

}

.coments{
  resize: none;
  
  min-width:448px;
  min-height: 120px;

}

.register-position{
  width: 100%;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);

  transform: translateY(-130%);

}

.register-eror-text,
.register-btn__eror-no-eror {
  display: block;
  position: absolute;
}

.register-position__input:focus:invalid ~ .register-eror-text,
.register-position__input:focus:invalid ~ .register-btn__eror-no-eror > .modal-btn__eror{
  opacity: 1;
}

.register-position__input:valid ~ .register-btn__eror-no-eror > .modal-btn__non-eror{
  opacity: 1;
}

.register-eror-text{

  right: 50px;
  top: 50%;
  
  transform: translateY(-50%);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--register-eror-text);

  opacity: 0;

  transition: color var(--transition-timing-function);
}

.register-btn__eror-no-eror{
  width: 15px;
  height: 15px;

  right: 10px;
  bottom: 13px;

}

.modal-btn__eror{
  width: 15px;
  height: 15px;

  right: 10px;
  bottom: 13px;

  fill: var(--emphasizing-cardcolor);
  opacity: 0;

  transition: fill var(--transition-timing-function);
}

.modal-btn__non-eror{
  width: 15px;
  height: 15px;

  right: 10px;
  bottom: 13px;

  fill: var(--modal-btn__non-eror);

  opacity: 0;

  transition: fill var(--transition-timing-function);
}

.register-position__input{
  width: 100%;

  height: 40px;

  border: var(  --color-register-position-input);
  border-radius: 4px;

  transition: border-color var(--transition-timing-function),

  fill var(--transition-timing-function);
  
  padding: 12px 12px 12px 42px;

  display: flex;

  
}

.coments{
  padding: 12px 16px;
}

.consent__user{
  display: flex;

  align-items: center;
  justify-content: center;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--primary-text-color);

  margin-top: 20px;


  user-select: none;
}

.consent__mail{
  position: relative;

  color: var(--accent-color);

  margin-left: 6px;
}

.consent__mail::after{
  content: '';

  position: absolute;

  display: block;   

  width: 100%;
  height: 0.7px;

  left: 0;
  bottom: -10;

  background-color: currentColor;

}

.register-btn__person{
  position: absolute;

  display: flex;

  width: 18px;
  height: 18px;

  left: 12px;
  top: 50%;

  transform: translateY(-50%);

  transition: fill var(--accent-colorn);

  justify-content: center;
  align-items: center;

}

.phone-icon {
  width: 13px;
  height: 13px;
}

.envelope-icon {
  width: 15px;
  height: 12px;
}


.consent-btn-svg{
  align-items: center;

  background-color:var(--button-hero-two);
  border-radius: 2px;

  background-image: url(../img/check.svg);

}

.consent__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.modal-btn__submit{
  width: 200px;
  height: 50px;

  background: var(--button-hero-two);
  box-shadow: var(--button-hover-button-box-shadow-btn);

  color: var(--primary-bg-color);

  border-radius: 4px;
  border: 0;

  cursor: pointer;

  padding: 0;
  margin:30px 124px 0px 124px;

  transition: background-color
  var(--transition-timing-function),
  box-shadow
  var(--transition-timing-function)
}

.modal-btn__submit-send{

  font-family: 'Roboto';
  font-style: normal;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  
  letter-spacing: 0.06em;
}

.modal-btn__submit:hover,
.modal-btn__submit:focus {

  background-color: var(--button-btn-two);
  box-shadow: var(--button-hover-button-box-shadow-btn);
  cursor: pointer;
}