@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-hero-bg-color: #2f303a;
  --titel-link-color: #212121;
  --accent-color: #2196f3;
  --logo-up-color: #000000;
  --address-secondary-color: rgba(255, 255, 255, 0.6);
  --accent-fill: #AFB1B8;
  --colore-info:#eeeeee;
  --button-hero-two:#2196F3;
  --footer-social:rgba(255, 255, 255, 0.1);
  --border-bottom:#ececec;
  --linear-gradient:rgba(47, 48, 58, 0.4);
  --color-anim:rgba(33, 150, 243, 0.9);
  --button-hover-button-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --card-background-color-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --galerry-button-hover-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --galerry-card-hover-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --colore-overlay-modal: rgba(0, 0, 0, 0.2);
  --colore-img: rgba(47, 48, 58, 0.8);
  --colore-modal-button: 1px solid rgba(0, 0, 0, 0.1);
  --collor-modal-button:#ffeeee;
  --collor-modal-close:#8d8c8c;
  --emphasizing-cardcolor: rgba(255, 0, 0, 0.959);
  --collor-border-subscribe: 1px solid rgba(255, 255, 255, 0.3);
  --collor-filter-subscribe: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  --collor-box-shadow-subscribe-button: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --collorsubscribe-button-focu-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --color-register-position-input: 1px solid rgba(33, 33, 33, 0.2);
  --button-btn-two:#188CE8;
  --button-hover-button-box-shadow-btn: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --collor-subscribe-input: #4caf50;
  --modal-btn__non-eror:rgb(95, 212, 41);
  --register-eror-text:rgba(230, 11, 11, 0.5);
  /* flex advantages */
  --items-adv: 4;
  --indent: 30px;
  /* flex work */
  --items-work: 3;
  /* cubic-bezier */
  --transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-timing-function-close: 550ms cubic-bezier(0.4, 0, 0.2, 1);
  /* scrol */
  --colot-track:inset 0 0 5px grey;
  --colot-handle: rgb(149, 221, 116);
  --transition: width 0.5s, left 0.5s;
}

/* Загальне */
body {
  color: var(--primary-text-color);
  background-color: var(--primery-bg-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

/* Обнулили */
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Зображення */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* списки */
.galerry__list, .social__animation--pulse, .address, .customer__list, .card-list__list, .card-set__list, .contacts, .nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* посилання */
.address__link, .nav__link, .logo {
  text-decoration: none;
}

/* заголовки */
.customer__titel, .card-set__item--text-titel, .card-set__titel--text, .card-list__titel, .card-set__titel {
  color: var(--titel-link-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.hidden {
  display: none;
}

/* контейнер */
.galerry__container, .footer__container, .container-block, .card-set___contaiter, .card-set__contaiter, .card-list, .container, .header__block {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.galerry, .card-set, .card-list, .advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.address__link, .address__text, .card-set__list--card {
  position: relative;
}

.address__link:hover, .address__text:hover,
.address__link:focus,
.address__text:focus {
  color: var(--accent-color);
}

.address__link::after, .address__text::after {
  content: "";
  width: 0;
  height: 2.5px;
  position: absolute;
  bottom: -2.5px;
  left: 0;
  background: var(--accent-color);
  transition: var(--transition);
}

.address__link:hover::after, .address__text:hover::after {
  width: 100%;
}

.address__link::after:hover, .address__text::after:hover,
.address__link::after:focus,
.address__text::after:focus {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: 5px;
}

.subtitle__social--title, .social__text--title {
  display: flex;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--colore-info);
}

.subscribe__btn, .btn {
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: background-color var(--transition-timing-function), box-shadow var(--transition-timing-function);
}
.subscribe__btn:hover, .btn:hover, .subscribe__btn:focus, .btn:focus {
  background-color: var(--button-hero-two);
  box-shadow: var(--button-hover-button-box-shadow);
  cursor: pointer;
}

.register-position__eror-no-eror, .register-position__text--eror {
  display: block;
  position: absolute;
}

/* Шапка сайта */
.header {
  border-bottom: 1px solid var(--border-bottom);
  margin-bottom: -1px;
}
.header__block {
  display: flex;
  justify-content: space-between;
}

/* Логотип загальні налаштування */
.logo {
  color: var(--logo-up-color);
  margin-right: 93px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  width: 145px;
  height: 31px;
}
.logo__info--accent {
  color: var(--accent-color);
}

.logo__info {
  color: var(--primary-bg-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  display: flex;
  padding: 0px;
  margin: -1px;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--titel-link-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav__item--current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: 0;
  transition: background-color var(--transition-timing-function-close);
}

.nav__item--current {
  position: relative;
}

.nav__link--current {
  color: var(--accent-color);
}

/* Контакти */
.contacts {
  display: flex;
  align-items: center;
}
.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-timing-function);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__item:not(:last-child) {
  padding-left: 0px;
  margin-right: 50px;
}

.contacts__img {
  fill: currentColor;
  margin-right: 10px;
}

/* Герой */
.hero {
  padding: 200px 0;
  margin-right: auto;
  margin-left: auto;
  max-height: 600px;
  max-width: 1600px;
  background-color: var(--footer-hero-bg-color);
  background-image: linear-gradient(var(--linear-gradient), var(--linear-gradient)), url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__titel {
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  width: 696px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Модальне вікно */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: var(--colore-overlay-modal);
  opacity: 1;
  transition: opacity var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  padding: 40px 39px 40px 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition-timing-function);
}

.modal__btn-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: var(--colore-modal-button);
  background-color: var(--primary-bg-color);
  right: 8px;
  top: 8px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: pointer;
  padding: 0;
  transition: background-color var(--transition-timing-function-close), fill var(--transition-timing-function-close), transform var(--transition-timing-function-close), border var(--transition-timing-function-close);
}
.modal__btn-close:hover {
  fill: var(--button-hero-two);
  background-color: var(--collor-modal-button);
}

.backdrop.is-hidden > .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.register-position {
  display: flex;
  position: relative;
}
.register-position:checked .register-position__input, .register-position:focus-within .register-position__input {
  border-color: var(--accent-color);
  outline: 0;
}
.register-position:checked .register-position__person, .register-position:focus-within .register-position__person {
  fill: var(--accent-color);
}
.register-position:nth-child(-n+4) {
  margin-bottom: 28px;
}
.register-position__mine {
  position: absolute;
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  transform: translateY(-130%);
}
.register-position__input {
  width: 100%;
  height: 40px;
  border: var(--color-register-position-input);
  border-radius: 4px;
  transition: border-color var(--transition-timing-function), fill var(--transition-timing-function);
  padding: 12px 12px 12px 42px;
  display: flex;
}
.register-position__input:focus:invalid ~ .register-position__text--eror, .register-position__input:focus:invalid ~ .register-position__eror-no-eror > .modal-btn__eror {
  opacity: 1;
}
.register-position__input:valid ~ .register-position__eror-no-eror > .modal-btn__non-eror {
  opacity: 1;
}
.register-position__text--eror {
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--register-eror-text);
  opacity: 0;
  transition: color var(--transition-timing-function);
}
.register-position__eror-no-eror {
  width: 15px;
  height: 15px;
  right: 10px;
  bottom: 13px;
}
.register-position__person {
  position: absolute;
  display: flex;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--accent-colorn);
  justify-content: center;
  align-items: center;
}

.register-position__text {
  display: flex;
  width: 448px;
  height: 23px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: var(--titel-link-color);
}

.modal-btn__eror {
  width: 15px;
  height: 15px;
  right: 10px;
  bottom: 13px;
  fill: var(--emphasizing-cardcolor);
  opacity: 0;
  transition: fill var(--transition-timing-function);
}

.modal-btn__non-eror {
  width: 15px;
  height: 15px;
  right: 10px;
  bottom: 13px;
  fill: var(--modal-btn__non-eror);
  opacity: 0;
  transition: fill var(--transition-timing-function);
}

.coments {
  resize: none;
  min-width: 448px;
  min-height: 120px;
  padding: 12px 16px;
}

.consent {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.consent__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}
.consent__checkbox:hover + .consent__consent-mail-checkbox {
  border: 2px solid var(--accent-color);
}
.consent__checkbox:checked + .consent__consent-mail-checkbox {
  border-color: transparent;
  background-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
}
.consent__mail {
  position: relative;
  color: var(--accent-color);
  margin-left: 6px;
}
.consent__mail::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.7px;
  left: 0;
  bottom: -10;
  background-color: currentColor;
}
.consent__consent-mail-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 7px;
  transition: border-color var(--transition-timing-function), background-color var(--transition-timing-function);
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-btn__submit {
  width: 200px;
  height: 50px;
  background: var(--button-hero-two);
  box-shadow: var(--button-hover-button-box-shadow-btn);
  color: var(--primary-bg-color);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  padding: 0;
  margin: 30px 124px 0px 124px;
  transition: background-color var(--transition-timing-function), box-shadow var(--transition-timing-function);
}
.modal-btn__submit:hover, .modal-btn__submit:focus {
  background-color: var(--button-btn-two);
  box-shadow: var(--button-hover-button-box-shadow-btn);
  cursor: pointer;
}

.modal-btn__submit-send {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* .consent-btn-svg{
  align-items: center;

  background-color:var(--button-hero-two);
  border-radius: 2px;

  background-image: url(../img/check.svg);

} */
/* сітка із застосуванням flex-box по 4-ри елемента     */
.card-set__list {
  display: flex;
  margin: calc(-1 * var(--indent) / 2);
}
.card-set__list .card-set__item {
  flex-basis: calc((100% - var(--indent) * var(--items-adv)) / var(--items-adv));
  margin: calc(var(--indent) / 2);
}

/* сітка із застосуванням flex-box по 3-ри елемента     */
.card-list__list {
  display: flex;
  margin: calc(-1 * var(--indent) / 2);
}
.card-list__list .card-list__item {
  position: relative;
  flex-basis: calc((100% - var(--indent) * var(--items-work)) / var(--items-work));
  margin: calc(var(--indent) / 2);
}

.advantages {
  padding-bottom: 0;
}

.card-set__list--card:hover::after {
  width: 100%;
  left: 0;
}
.card-set__list--card::after {
  content: "";
  width: 0;
  height: 2.5px;
  position: absolute;
  bottom: -2.5px;
  right: 0;
  background: var(--emphasizing-cardcolor);
  transition: var(--transition);
}

/* SVG */
.card-set__section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  height: 120px;
}

.card-set__titel {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: start;
}

.card-photo {
  display: flex;
  width: 70px;
  height: 70px;
}

/* Робота  */
.card-list__titel {
  margin-bottom: 50px;
}

/* текст на картинках */
.card-list__text {
  display: flex;
  position: absolute;
  width: 370px;
  height: 70px;
  overflow: hidden;
  bottom: 0;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: var(--colore-img);
  color: var(--primary-bg-color);
}

/* Команда */
.card-set {
  background-color: var(--secondary-bg-color);
}
.card-set__titel--text {
  margin-bottom: 50px;
}

.card-set__item--card {
  background-color: var(--primary-bg-color);
  box-shadow: var(--card-background-color-box-shadow);
  border-radius: 0px 0px 4px 4px;
}

.card-set__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.set-info {
  display: flex;
  margin: 16px 32px 30px 32px;
  padding: 0;
  justify-content: space-between;
}
.set-info__link {
  display: flex;
  height: 44px;
  width: 44px;
  transform: rotate(0deg);
  border-radius: 30px;
  color: var(--primary-bg-color);
  fill: var(--accent-fill);
  justify-content: center;
  align-items: center;
  transition: transform var(--transition-timing-function), background-color var(--transition-timing-function), fill var(--transition-timing-function);
}
.set-info__link:hover, .set-info__link:focus {
  border-radius: 50%;
  background-color: var(--accent-color);
  fill: currentColor;
  transform: rotate(360deg);
}

.set-info__link-networks {
  height: 20px;
  width: 20px;
}

.card-set__item--text-titel {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.customer {
  padding-top: 94px;
  padding-bottom: 94px;
  /* Постійні клієнти */
}
.customer__list {
  margin-top: 50px;
  display: flex;
}

.customer__item:not(:last-child) {
  margin-right: 30px;
}

.customer__link {
  display: flex;
  width: 170px;
  height: 92px;
  transform: scale3d(1, 1, 1);
  border: 1px solid var(--accent-fill);
  border-radius: 4px;
  color: var(--accent-fill);
  justify-content: center;
  align-items: center;
  transition: transform var(--transition-timing-function), border-color var(--transition-timing-function), color var(--transition-timing-function);
  fill: currentColor;
}
.customer__link:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
  transform: scale3d(1.2, 1.2, 1.2);
}

/* Футер */
.footer {
  background-color: var(--footer-hero-bg-color);
  padding: 60px 0;
  /* -------- */
}
.footer__container {
  display: flex;
  align-items: baseline;
  margin-top: 0;
  margin-bottom: 0;
}

.address {
  font-style: normal;
  margin-top: 20px;
}
.address__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.address__text {
  color: var(--primary-bg-color);
  cursor: pointer;
  font-style: normal;
  transition: color var(--transition-timing-function);
}

.address__link {
  color: var(--address-secondary-color);
  display: inline-block;
  margin-top: 9px;
}

.social {
  margin: 0px 0px 0px 70px;
}
.social__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 206px;
  margin: 0;
  padding: 0;
}

.social__animation--pulse {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: var(--footer-social);
  transition: background-color var(--transition-timing-function);
}

/* Пульсуюча анімація */
.social__animation--pulse:hover {
  -webkit-animation: radar 1.5s linear infinite;
          animation: radar 1.5s linear infinite;
  border-radius: 50%;
  background-color: var(--accent-color);
}

@-webkit-keyframes radar {
  0% {
    transform: scale(0.9, 0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1.5, 1.5);
    opacity: 0.2;
  }
}

@keyframes radar {
  0% {
    transform: scale(0.9, 0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1.5, 1.5);
    opacity: 0.2;
  }
}
.social__image {
  fill: var(--colore-info);
  height: 20px;
  width: 20px;
}

.galerry__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.galerry__item:not(:last-child) {
  margin-right: 8px;
}

.galerry__btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  color: var(--titel-link-color);
  background-color: var(--secondary-bg-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  transition: color var(--transition-timing-function), background-color var(--transition-timing-function), box-shadow var(--transition-timing-function);
}
.galerry__btn:hover, .galerry__btn:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  box-shadow: var(--galerry-button-hover-box-shadow);
  cursor: pointer;
}

/* Карти галереї */
.card-list__list--block {
  flex-wrap: wrap;
  padding: 0;
}

.galerry-card {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.card-list__link {
  color: inherit;
  transition: box-shadow var(--transition-timing-function);
}
.card-list__link:hover, .card-list__link:focus {
  display: block;
  box-shadow: var(--galerry-card-hover-box-shadow);
}
.card-list__link:hover .card-list__anim-text, .card-list__link:focus .card-list__anim-text {
  opacity: 1;
  transform: translateY(0);
}

.galerry-text-position {
  position: relative;
  overflow: hidden;
}

.card-list__anim-text {
  display: block;
  overflow: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: var(--color-anim);
  color: var(--primary-bg-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform var(--transition-timing-function), opacity var(--transition-timing-function);
  opacity: 0;
}

/* Скрол */
/* width */
.card-list__anim-text::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.card-list__anim-text::-webkit-scrollbar-track {
  box-shadow: var(--colot-track);
  border-radius: 5px;
}

/* Handle */
.card-list__anim-text::-webkit-scrollbar-thumb {
  background: var(--colot-handle);
  border-radius: 5px;
}

/* Handle on hover */
.card-list__anim-text::-webkit-scrollbar-thumb:hover {
  background: var(--handle-on-hove);
}

.card-list__block {
  padding: 20px 24px;
  border-right: 1px solid var(--colore-info);
  border-left: 1px solid var(--colore-info);
  border-bottom: 1px solid var(--colore-info);
}

.card-list__info {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: start;
}

/* Підписатися на розсилку */
.subtitle {
  margin-left: auto;
}
.subtitle__form {
  display: flex;
}

.subscribe__form {
  display: flex;
}

.subscribe__input {
  justify-content: center;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--address-secondary-color);
  box-sizing: border-box;
  border-radius: 4px;
  border: var(--collor-border-subscribe);
  filter: var(--collor-filter-subscribe);
  background-color: var(--footer-hero-bg-color);
  transform: var(--transition-timing-function);
}
.subscribe__input:hover, .subscribe__input:focus {
  border-color: var(--accent-color);
  outline: 0;
}
.subscribe__input:not(:-moz-placeholder-shown) {
  border-color: var(--collor-subscribe-input);
}
.subscribe__input:not(:-ms-input-placeholder) {
  border-color: var(--collor-subscribe-input);
}
.subscribe__input:not(:placeholder-shown) {
  border-color: var(--collor-subscribe-input);
}

.subscribe__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 0;
  margin-left: 12px;
}
.subscribe__btn:hover, .subscribe__btn:focus {
  box-shadow: var(--collorsubscribe-button-focu-box-shadow);
}

.subscribe__btn--text {
  width: 109px;
  height: 30px;
  margin-right: 10px;
}/*# sourceMappingURL=main.css.map */