/* Контакти */
.contacts {
  @extend %list;
  
  display: flex;
  align-items: center;
  
    &__link { 
    display: flex;
    align-items: center;
  
    padding-top: 32px;
    padding-bottom: 32px;
  
    color: var(--primary-text-color);
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
    transition: color
    var(--transition-timing-function);

    &:hover,
    &:focus{

      color: var(--accent-color);
}

  }
}

.contacts__item{
  &:not(:last-child) {

    padding-left: 0px;
    margin-right: 50px;
  }
}

.contacts__img{
  
  fill:currentColor;
  margin-right: 10px;
}