/* Шапка сайта */
.header {

  border-bottom: 1px solid var(--border-bottom);
  margin-bottom: -1px;
  
  &__block {
    @extend %container; 
    
    display: flex;
    justify-content: space-between;
}
}







