
/* Модальне вікно */
.backdrop{
  position: fixed;

  width: 100%;
  height: 100%;

  left: 0px;
  top: 0px;

  background: var(--colore-overlay-modal);

  opacity: 1;

  transition: opacity var(--transition-timing-function);

}

.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
} 

.modal{
  position: absolute;

  width: 528px;
  height: 581px;

  padding: 40px 39px 40px 40px;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  
  background-color: var(--primary-bg-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 4px;

  transition: transform var(--transition-timing-function);

}
// Знак вихода
.modal__btn-close{
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: var(--colore-modal-button);
  background-color: var(--primary-bg-color);

  right: 8px;
  top: 8px;
  
  backface-visibility: hidden;

  cursor: pointer;
  padding: 0;

  transition: background-color var(--transition-timing-function-close),
  fill var(--transition-timing-function-close),
  transform var(--transition-timing-function-close),  border var(--transition-timing-function-close);

  &:hover{

  fill: var(--button-hero-two);
  background-color: var(--collor-modal-button);
}

}

.backdrop.is-hidden > .modal {
  transform: translate(-50%, -50%) scale(1.1);
}